{% extends "_base.html" %}

{% block conteudo %}
Página de Compromissos

<h3>Adicionar Compromisso</h3>
<form action="compromissos_adc.php" method="post">
    <input type="text" name="titulo" placeholder="Nome do compromisso">
    <input type="date" name="data">
    <input type="submit" value="Adicionar">
</form>

<h3>Minha lista de compromissos</h3>

<form action="compromissos.php" method="post">
    <label for="ordenar">Ordenar por</label>
    <br>
    <input type="radio" name="ordenar" id="menor" value="menor">
    <label for="menor">Menor data</label>
    <br>
    <input type="radio" name="ordenar" id= "maior" value="maior">
    <label for="maior">Maior data</label>
    <br>
    <input type="submit" value="Ordenar">
</form>

<ul>
    {% for compromisso in compromissos %}

        <li>{{ compromisso.titulo }} - {{ compromisso.data }} {{ compromisso.final_semana }}
            <a href="compromissos_edi.php?id={{ compromisso.id }}">Editar</a>
            <a href="compromissos_apa.php?id={{ compromisso.id }}">Apagar</a> 
        </li>
        

    {% endfor %}

</ul>
{% endblock %}